body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x:hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

h1 {
  font-family: 'Michroma', sans-serif;
  font-size: 80px;
}

h2 {
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.no-reserv {
  font-size: 30px;
  font-weight: bold;
  margin: 200px 0;
}

@media screen and (max-width: 1550px) {
  h1 {
    font-size: 60px;
  }

  .main-p-up {
    font-size: 20px;
    right: 100px;
  }

  .main-p-bottom {
    font-size: 20px;
    right: 100px;
  }

  .main-img {
    top: 20%;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 40px;
    position: unset;
  }
  
  .main-img {
    top: 25%;
  }
}