.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clientTell, #clientPass {
  margin: 5px 0 0 0;
}

.login-form button {
  width: 100%;
}

.misha {
  visibility: hidden;
}
