.portfolio-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.master-card {
  width: 25vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 10px 20px;
  margin: 20px;
  line-height: 30px;
  transition: .2s;
}

.meet-link {
  color: rgb(86, 128, 24);
  transition: .2s;
}

.meet-link:hover {
  color: rgb(126, 206, 6);
}

.master-card img {
  width: 100%;
}

.master-card:hover {
  transform: scale(110%);
}