.admin-reviews ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.admin-reviews li {
  width: 22vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 10px 20px;
  margin: 20px;
  line-height: 30px;
}

.admin-reviews-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-reviews button {
  width: 100%;
  margin: 5px 0 0 0;
}

.admin-reviews input, .admin-reviews textarea {
  width: 100%;
  padding: 5px 0;
}

.admin-reviews input {
  margin-top: 25px;
}