.interior-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px;
}

.interior-photos-1-row {
  display: flex;
  flex-wrap: wrap;
}

.interior-photos-1-row img {
  width: 30vw;
  margin: 5px;
}

.interior-photos-2-row {
  display: flex;
  flex-wrap: wrap;
}

.interior-photos-2-row img {
  width: 40vw;
  margin: 5px;
}