.main-header {
  display: flex;
  min-height: 500px;
  margin: 50px 0 0;
}

.main-img {
  position: absolute;
  width: 50vw;
  left: 30%;
  z-index: -10;
}

.main-h1 {
  position: absolute;
  left: 100px;
  top: 220px;
  font-weight: bold;
}

.main-p-up {
  font-size: 24px;
  position: absolute;
  right: 200px;
  top: 230px;
}

.main-p-bottom {
  font-size: 20px;
  position: absolute;
  right: 200px;
  top: 350px;
}